<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexlytvynenko.appanalyzer">

    <application>
        <activity
            android:name=".internal.ui.DisplayNetworkActivity"
            android:enabled="false"
            android:icon="@mipmap/app_analyzer_icon"
            android:roundIcon="@mipmap/app_analyzer_icon_round"
            android:label="@string/app_analyzer_display_activity_label"
            android:windowSoftInputMode="adjustPan"
            android:taskAffinity="com.alexlytvynenko.appanalyzer.${applicationId}"
            android:theme="@style/network_analyzer_NetworkAnalyzer.Base.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>